*{
  margin:0;
  padding:0;
  list-style:none;
  font-family: verdana;
}
h1 {
  color:#00CC99;
}
body{
  background: #00CC99;
}
.meny{
  position:absolute;
  left:50%;
  top:35%;
  margin:-100px 0 0 -150px;
  width:350px;
  height:300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  text-align: center;
  padding-top:15px;
}
.meny ul{
  width:350px;
  margin:0 auto;
  margin-top:50px;
}

.meny ul li a{
  display:block;
  color:#000;
  padding:10px;
  font-size: 25px;
  text-decoration: none;
  transition: 0.2s ease-out 0.2s;
}
.meny ul li a:hover{
  background: #00CC99 ;
  color:#fff;
}

.dialog{
  padding:15px;
  margin:0 auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  width:70%;
  height:30%;
}
